<tr id="<%= dom_id user %>" class="bg-white">
  <td class="border border-slate-300 py-1 px-1"><%= user.name %></td>
  <td class="border border-slate-300 py-1 px-1"><%= user.email %></td>
  <td class="border border-slate-300 py-1 px-1">-</td>
  <td class="border border-slate-300 py-1 px-1"><%= user.confirmed? ? 'Active' : 'Invited' %></td>
  <td class="border border-slate-300 py-1 px-1">-</td>
</tr>
