<tr id="<%= dom_id member %>" class="bg-white">
  <td class="border border-slate-300 py-1 px-1"><%= member.name %></td>
  <td class="border border-slate-300 py-1 px-1"><%= member.phone %></td>
  <td class="border border-slate-300 py-1 px-1"><%= member.created_at %></td>
  <td class="border border-slate-300 py-1 px-1">-</td>
  <td class="border border-slate-300 py-1 px-1">-</td>
  <td class="border border-slate-300 py-1 px-1">-</td>
  <td class="border border-slate-300 py-1 px-1">-</td>
  <td class="border border-slate-300 py-1 px-2"></td>
</tr>
