<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">Members</h1>
    <%= link_to 'Add member', new_member_path, class: "btn btn-primary" %>
  </div>

  <table id="members" class="border-collapse border border-slate-400 min-w-full mt-8">
    <thead>
      <tr class="bg-white">
        <th class="border border-slate-300 py-1 px-1">Full name</th>
        <th class="border border-slate-300 py-1 px-1">Phone</th>
        <th class="border border-slate-300 py-1 px-1">Registration date</th>
        <th class="border border-slate-300 py-1 px-1">Transactions</th>
        <th class="border border-slate-300 py-1 px-1">Total earned Points</th>
        <th class="border border-slate-300 py-1 px-1">Active Points</th>
        <th class="border border-slate-300 py-1 px-1">Total spending</th>
        <th class="border border-slate-300 py-1 px-2"></th>
      </tr>
    </thead>
    <tbody>
      <%= render @members %>
    </tbody>
  </table>
</div>
